{% extends "layouts/base.njk" %}

<!-- content -->
{% block content %}
<div class="wrapper flow flow-space-900">
  <article class="intro">
    <div class="[ intro__header ] [ radius frame ]"></div>
    <div class="[ intro__content ] [ flow ]">
      {% prismic_asHTML prismic.home.data.paragrafo, {class: 'intro__head'} %}
      <a
        class="button"
        href="https://api.whatsapp.com/send?phone=5561996241966"
        target="_blank"
        rel="noopener noreferrer"
      >
        Fale conosco pelo whatsapp
      </a>
    </div>
    <div class="[ intro__media ] [ radius dot-shadow ]">
      <img
        class="[ intro__image ] [ radius ]"
        src="./images/DP09_00.png"
        alt="Caixa plástica modelo DP 9"
      />
    </div>
  </article>

  <article class="[ main__about ] [ flow ]">
    <h2 class="text-700">Sobre nós</h2>

    <div class="steps">
      <ul role="list" class="auto-grid">
        {% for item in prismic.card %}
        <li class="card flow">
          {% prismic_asHTML item.data.titulo %} {% prismic_asHTML item.data.paragrafo %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </article>
  <article class="flow" id="contato">
    <h2 class="text-700">{% prismic_asText prismic.sobre.data.titulo %}</h2>

    <div class="flow flow-space-300">
      {% prismic_asHTML prismic.sobre.data.paragrafo %}
    </div>
  </article>
</div>

<!-- {{ prismic.card.data | log }} -->
{% endblock %}
