{% extends "layouts/base.njk" %}

<!-- content -->
{% block content %}
<div class="wrapper flow flow-space-900">
  <article class="intro">
    <div class="[ intro__header ] [ radius frame ]"></div>
    <div class="[ intro__content ] [ flow ]">
      {% prismic_asHTML prismic.home.data.paragraph %}
      <a
        class="button"
        href="https://api.whatsapp.com/send?phone={{ prismic.home.data.phone | phoneFormatter }}"
        rel="noopener noreferrer"
        data-variant="ghost"
      >
        Fale conosco pelo whatsapp
      </a>
    </div>
    <div class="[ intro__media ] [ radius dot-shadow ]">
      {% prismic_image prismic.home.data.main_image,
        "class", "[ intro__image ] [ radius ]","heigh", "482", "width", "306"
      %}
    </div>
  </article>

  <article class="[ main__about ] [ flow flow-space-700 ]">
    <h2 class="text-700">Sobre nós</h2>

    <div class="steps">
      <ul role="list" class="auto-grid">
        {% for item in prismic.card %}
        <li class="card flow">
          {% prismic_asHTML item.data.title %} 
          
          {% prismic_asHTML item.data.paragraph %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </article>

  <article class="[ main__info ] [ flow flow-space-500 ]" id="contato">
    <h2 class="text-700">Mais informações</h2>

    <div>
      <ul role="list" class="flow flow-space-900">
        {% for item in prismic.info %}
        <li class="flow flow-space-300">
          {% prismic_asHTML item.data.title %} 
          
          {% prismic_asHTML item.data.paragraph %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </article>
</div>

{% endblock %}
